.main-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fa-microphone {
    color: #14A76C;
}

.fa-microphone:hover {
    color: #0c6e47;
}

.display{
    color: #ffffff;
    text-align: center;
}

.output-display {
    background-color: #878991;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myDiv {
    border: 5px outset red;
    background-color: rgb(59, 64, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.myDiv2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.output-display2 {
    background-color: #e3e3e9;
    height: 620px;
}

.fas, .fa {
    cursor: pointer;
}

.background {
    background-color: #272727;
    color: #ffffff;
}



code {
    color: #000000;
}

